In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('sector_investors.csv',index_col=0,sep=';')

In [6]:
df[df['name']=='Blue Star Group GmbH']

,company_id,name,sector_id,name_de,name.1,deal_stage_id,is_lost,target_revenue,target_ebitda,target_ebit,target_region_id,region
id,,,,,,,,,,,,
28202,9633,Blue Star Group GmbH,25,Software Produkte,786 Analytics,2,1,2.1,-0.7,-0.7,1,Nordrhein-Westfalen

In [5]:
df['target_revenue'].sum()

369441.99000000005

In [7]:
def create_frame(df, investor_name):
    #frame_1 = df[df['deal_stage_id']>=4]
    frame_1 = df
    frame_2 = frame_1[['name', 'sector_id', 'name_de', 'target_revenue', 'target_ebitda', 'target_ebit', 'region']]
    frame_3 = frame_2[frame_2['name'] == investor_name]
    frame_4 = frame_3.groupby([frame_3['name_de']],as_index=False).agg({
        'sector_id':
        'count',
        'target_revenue':
        'median',
        'target_ebitda':
        'median'})
    frame_4.rename(columns={'sector_id': 'sector_count'}, inplace=True)

    return frame_4

In [9]:
create_frame(df,'Omnes Capital')

,name_de,sector_count,target_revenue,target_ebitda
0,Automotive,1,7.8,0.60
1,Energie,1,12.5,1.20
2,Gesundheitswesen - Produkte & Dienstleistungen,2,0.0,-0.10
3,Industrieautomation,1,0.0,0.00
4,Internet/ E-Commerce,1,2.0,1.30
5,Professionelle Dienstleistungen (B2B),1,8.0,2.40
6,Software Produkte,3,1.6,0.35